body {
    font-family: Arial, sans-serif;
    background-image: url('images/bgd.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f8f9fa; /* Fallback background color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #0b7aba;
}

.conversion {
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.conversion h2 {
    color: #3a87ab;
    margin-bottom: 10px;
}

input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

span {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}

button {
    padding: 12px 24px;
    background-color: #91bbd3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3a8ea5;
}

.result {
    font-size: 18px;
    margin-top: 20px;
}

.result span {
    font-weight: bold;
}

.optgroup {
    font-weight: bold;
}

.optgroup option {
    font-weight: normal;
}
